@import url('https://api.fontshare.com/v2/css?f[]=oswald@300,400,600&f[]=gambarino@400,500&f[]=melodrama@400,500&f[]=panchang@400,600&f[]=gambetta@400,500&display=swap');
@import "flag-icons/css/flag-icons.min.css";

body {
  background-color: #121212; /* Replace with your desired color */
  margin: 0; /* Optional: removes white margin */
}

@font-face {
  font-family: 'Monsieur';
  src: url('/src/assets/fonts/MonsieurLaDoulaise-Regular.ttf');
}

:root {
  --font-Title: 'Monsieur La Doulaise', serif; 
  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Gambarino', serif;
  --font-classic: 'Melodrama', serif;
  --font-performance: 'Panchang', sans-serif;
  
  --glass: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.1);
  --text: #e5e7eb;
  --muted: #9ca3af;

  --bg: #0A0A0A;
  --surface: #1A1A1A;
  --text: #E5E5E5;
  --muted: #8A8A8A;
  --accent: #ffffff;

  --gold-1: #D4AF37;
  --gold-2: #F6E27A;
  --gold-3: #B8962E;
}

body {
  background: #050505;
  color: #eaeaea;
  font-family: 'Oswald', sans-serif;
}

h1, h2{
  font-family: var(--font-heading);
}
h1 {
  letter-spacing: 1px;
}

.card.performance h2 {
  letter-spacing: 2px;
}


.classic h1 {
  font-family: var(--font-classic);
}

.card.performance h2 {
  font-family: var(--font-performance);
}

.gold-text {
  background: linear-gradient(
    120deg,
    var(--gold-1),
    var(--gold-2),
    var(--gold-3),
    var(--gold-1)
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}
body {
  font-family: 'Inter', sans-serif;
}


html {
  scroll-behavior: smooth;
}